Requirements:

	1) Show a list of products.
	2) Add products to shopping cart (CRUD).
	3) Shopping cart checkout.
	4) User login/logout security.
	5) Track previous orders for logged in users.

Release Plan:

	1) Release 1.0
		- Show a list of products.
	2) Relase 2.0
		- Add products to shopping cart(CRUD).
		- Shopping cart checkout.
	3) Release 3.0
		- User login/logout security.
		- Track previous orders for logged in users.

Development Process: 

	1) Setup database tables
	2) Create a spring boot starter project
	3) Develop entities: Product and ProductCategory
	4) Create REST APIs and Spring Data JPA Repositories and Spring Data REST
